$playfieldWidthAndHeight: 416px;
$mainBackgroundColor: #d6d6d6;
$subMainBackgroundColor: #ededed;

body {
    // justify-content: center !important;
    // align-items: center !important;
}

.centered {
    /*width:1200px;*/
    /*margin: 0 auto;*/
}

#playfield {
    width: $playfieldWidthAndHeight;
    height: $playfieldWidthAndHeight;
}

#tracks {
    width: $playfieldWidthAndHeight;
}

#buttons {
    width: $playfieldWidthAndHeight / 3;
}

.tile {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid black;
}

.tile.ground {
    background-color: rgb(246,232,215);
}

.tile.station {
    background-color: rgb(221, 216, 212);
}

.img_parent {
    position: relative;
    top: 0;
    left: 0;
}

.img_track, 
.img_ground, 
.img_station {
  position: absolute;
  top: 0px;
  left: 0px;
}

.tile.black {
    background-color: lightblue;
}

.shadow {
    -webkit-box-shadow: inset 0px 0px 5px 5px rgb(224, 123, 123);
    box-shadow: inset 0px 0px 3px 3px rgb(224, 123, 123);
}

.shadow_blue {
    -webkit-box-shadow: inset 0px 0px 5px 5px rgb(0, 139, 224);
    box-shadow: inset 0px 0px 3px 3px rgb(0, 139, 224);
}

/* ROTATION: */
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

th, td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 8px;
}

#scoring_table td:nth-child(6) {
    background-color: #d0d0d0;
}

input {
    width: 30px;
}

/* page layout */
.col {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* tilt */
.tilt {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari 3-8 */
    transform: rotate(7deg);
}

#roll_number > img:hover {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
}

/* main background */
#main {
    background-color: $mainBackgroundColor;
    padding: 15px;
    border-radius: 7px;
    width: 77%;
}

.main_content {
    background-color: $subMainBackgroundColor;
    margin: 5px;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
}

#playfield_and_tracks {
    
}

#buttons {
    
}

#scoring {
    
}

#logo {

}