$playfield_width = 416px;

.centered {
    /*width:1200px;*/
    /*margin: 0 auto;*/
}

#playfield {
    width: 416px;
    height: 416px;
}

#tracks {
    width: 416px;
}

#buttons {
    width: 104px;
}


.tile {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid black;
}

.tile.ground {
    background-color: rgb(246,232,215);
}

.tile.station {
    background-color: rgb(221, 216, 212);
}

.img_parent {
    position: relative;
    top: 0;
    left: 0;
}
.img_track {
    position: relative;
    top: 0;
    left: 0;
}
.img_ground {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tile.black {
    background-color: grey;
}

.shadow {
    -webkit-box-shadow: inset 0px 0px 5px 5px rgb(224, 123, 123);
    box-shadow: inset 0px 0px 3px 3px rgb(224, 123, 123);
}

/* ROTATION: */
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

th, td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 8px;
}

#scoring_table td:nth-child(6) {
    background-color: #d0d0d0;
}

input {
    width: 25px;
}

/* page layout */
.col {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}